body {
  background-color: rgb(98, 168, 220); 

}
  
  
 
/*   margin-top: 10%; */
  font-family: Georgia, serif;
}


html{
  height: 100%;
  width: 100%;
}

#myCanvas {
  border: 1px solid black;
  background-image: 
  background-size: 800px;
  border-radius: 30px;
  border: 5px solid rgb(239, 243, 126);
}

.container{
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(0,136,206,255);
  justify-content: space-around;
  align-items: flex-start;
  padding-bottom: 20px;
}

.pic{
  height: 450px;
  width: 600px;
  object-fit: cover;
  border: 1px solid black;
}

h2{
  color: black;
/*   font-size: 10px; */
}

#start{
  text-align: left;
}

#end{
  text-align: right;
}
.summer {
  color: rgb(255, 232, 4 );
    background-color: rgb(237, 110, 51 );

  font-family: "Delius", cursive;
  font-weight: 400;
  font-style: normal;
}
}